<div class="trello">
  <h1 class="title-trello">Tablero Trello</h1>
  <p class="description-wrapper">
    En las clases, exploramos la eficacia de la gestión ágil y la versatilidad
    de MongoDB. Emocionados por la perspectiva de mejorar nuestro enfoque en la
    gestión de proyectos , decidimos aplicar este conocimiento a nuestro tablero
    de Trello.
  </p>
  <section class="trello-wrapper">
    <div class="done-wrapper">
      <p class="done-title">TODO</p>
      <div
        *ngFor="let product of productos"
        class="card-wrapper"
        pDraggable
        (onDragStart)="dragStart(product)"
        (onDragEnd)="dragEnd(product)"
      >
        <app-card [cardInformation]="product"> </app-card>
      </div>
    </div>

    <div class="done-wrapper" pDroppable (onDrop)="drop()">
      <p class="done-title">Done</p>
      <div *ngIf="selectedProducts">
        <div *ngFor="let product of selectedProducts" class="card-wrapper">
          <app-card [cardInformation]="product"> </app-card>
        </div>
      </div>
    </div>
  </section>
</div>
