.trello{
    margin: -20px;
    padding-left: 20px;
    height: 100%;
    background-image: radial-gradient(circle at 50% -3.03%, #0092ff 0, #008dff 5.56%, #0088ff 11.11%, #0082ff 16.67%, #467cfb 22.22%, #7274f4 27.78%, #906ceb 33.33%, #a863df 38.89%, #bc59d2 44.44%, #cc50c4 50%, #d947b4 55.56%, #e33fa4 61.11%, #ea3993 66.67%, #ef3683 72.22%, #f13672 77.78%, #f13a61 83.33%, #ee4151 88.89%, #ea4941 94.44%, #e35131 100%);
    margin-bottom: 100vh;
  }

.title-trello{
  padding: 32px;
  text-align: center;
}

.description-wrapper{
    width: 50vw;
    color: white;
    padding: 32px;
}

  .trello-wrapper{
    display: flex;
    color: white;
    font-size: 24px;
    justify-content: space-around;
  }

  .card-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
    margin-left: 50px;
  }

  .done-title{
  font-size: 16px;
   color: black;
   text-align: center;
   font-weight: 600;
   margin-top: 12px;
  }

  .done-wrapper{
    width: 400px;
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    gap: 16px;
  }